:root {
	--fluid-width: 90vw;
	--max-width: 1120px;
	--fixed-width: 600px;
	--nav-height: 6rem;
	--primary-500: #2cb1bc;
	--grey-500: #627d98;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: var(--fluid-width);
	max-width: var(--max-width);
	margin: 0 auto;
}
